.quicktry-visited {
}

.quicktry-edit-button {
    position: absolute;
    top: -32px;
    right: 0;
    z-index: 10000;
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
}

.quicktry-editor {
	margin-bottom: 1em;
	min-height: 200px;
	max-height: 600px;
}
