.quicktry-visited {
  background-color: #bcd5eb !important;
  outline: 1px solid #5166bb !important;
}

.quicktry-edit-button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -50px;
    right: 0;
    z-index: 10000;
    background-color: red;
}

.quicktry-editor {
	width: calc(100% - 14px);
	padding: 7px;
	margin: 0;
	min-height: 100px;
	max-height: 600px;
}
